*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin: 35px 15px 30px 10px;
     font-family: 'Montserrat', sans-serif;
 }
header ul li a{
     text-decoration: none;
     color: black;
     font-size: 2.6vh;
 }
header ul li:first-child a,header ul li a:hover{
    color: #3fb4e9
}

.header-item img{
    width:10vw;
   display: block;
   margin: 0 auto;
   padding: 20px;
}

.p1-box{
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-around;
    padding: 50px 0;
}

.p1-item h3{
    font-size: 1.2em;
    color: #3fb4e9;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}
.p1-item h1{
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #303030;
}
.p1-item p{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #313131;
    width: 80%;
}
.p1-item button.color {
    background-color:#3fb4e9;
    color: white;
    border: none;
    width: 30vw;
    height: 15vh;
    font-size: 2vh;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
}
.p1-item img{
    width: 30vw;
    align-self: center;
}

.p2-box{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
    justify-content:center;
    padding: 20px 0;
}
.p2-item{
    margin: 20px 0;
    background-color:#ffffff;
    box-shadow: 0 0 40px #f1f5f8;
}
.p2-item img{
    width: 6vw;
    display: block;
    margin: 20px auto;
}
.p2-item h3{
   font-size:1.3em ;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}
.p2-item p{
    font-size:1em ;
    text-align: center;
    margin: 20px;
    font-weight: 400;
 }
.p2-item button.color {
    background-color:white;
    color: #3fb4e9;
    border: none;
    width: 18vw;
    height: 5vh;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #3fb4e9;
    border-top: 2px solid #3fb4e9;
}

.p3 h3{
    color: #3fb4e9;
    font-size:1.3em;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
 }
 .p3 h1{
    color:#303030 ;
    font-size:2.3em;
    text-align: center;
    font-weight: 700;
    width: 80%;
    display: block;
    margin: 20px auto;
 }
 .p3 p{
    color:#303030 ;
    font-size:1.3em;
    text-align: center;
    font-weight: 500;
    display: block;
    margin: 20px auto;
    width: 50%;
 }
 .p3 button.color {
    background-color:#3fb4e9;
    color: white;
    border: none;
    width: 20vw;
    height: 12vh;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;
}

.p4{
    background-color: #f3f3f3 ;
}
.p4 h1{
    text-align: center;
    margin: 50px 0;
    padding-top: 50px;;
}
.p4 h1 b{
    color: #3fb4e9;
}
.p4-box{
    display:grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-content: center;

}
#accordion{
    width:80%;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}
.p4 .btn{
    background-color: #f8f9fb;
    color: #3fb4e9;
    font-weight:600;
    font-size: .7em;
}
.collapse{
    background-color: #f3f3f3;
    color: #2b2b2b;
    font-weight:400;

}
.blank{
    padding-bottom: 50px;
}
.p4 button.color {
    background-color:#3fb4e9;
    color: white;
    border: none;
    width: 20vw;
    height: 12vh;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;

}

.p5 h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.p5 h1 b{
    color:#3fb4e9;
}
.p5 h2{
    text-align: center;
    font-size: 1.2em;
}
.p5-box{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:50px;
    justify-content:center;
    padding: 30px 0;
}
.p5-item{
    margin: 20px 0;
    background-color:#ffffff;
    box-shadow: 0 0 40px #f1f5f8;
}
.p5-item h3{
   font-size:1.3em ;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}
.p5-item p{
    font-size:1em ;
    text-align: center;
    margin: 20px;
    font-weight: 400;
 }
 .p5-c{
     display: grid;
     grid-template-columns: 30% 30% 30%;
     grid-gap:50px;
     justify-content: center;
     padding-bottom: 50px;
 }
 .p5-counter{
    text-align: center;
    /*texto caindo*/
    animation: drop 1.5s ease;
 }
 .p5-counter .counter {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 5.3em;
 }
 .p5-counter .span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
   color: #3fb4e9;

 }
 @keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);        
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        }
    }

 .p6 h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.p6-box{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap:50px;
    justify-content:center;
    padding: 30px 0;
}
.p6-item{
    margin: 20px 0;
    background-color:#ffffff;
    box-shadow: 0 0 40px #f1f5f8;
}
.p6-item h4{
   font-size:1.3em ;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}
.p6-item p{
    font-size:1em ;
    text-align: center;
    margin: 20px;
    font-weight: 400;
 }
.p6-3-item h4{
    font-size: 0.9em;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   margin: 30px 0;
}

 .form-box{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 400px;
    justify-content: center;
    align-content: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content:  center;
    width: 80%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid#3fb4e9;
    padding:10px;
    color:#3fb4e9;
    width:100%;
        justify-content: center;
        
}
.msg textarea{
    height: 80px;
    width: 100%;
}
.input-fields button{
    background-color:#3fb4e9;
    color:#3fb4e9;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 38%
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    margin: 20px 0;
}
footer{
    border-top: 5px solid #3fb4e9; 
 }
 
 footer p a{
     text-decoration: none;
     font-size: 1.3em;
     color: #3fb4e9;
 }

@media screen and (max-width:900px){
   
    .header-item img{
        width:50vw;
       display: block;
       margin: 0 auto;
       padding: 20px;
    }
    .p1-item img{
    width: 60vw;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}
    .p1-box h1, .p5 h1 {
        font-size:2em
    }
    .p1-box, .p2-box, .p4-box, .p5-box, .p5-c, .p6-box {
        grid-template-columns: 80%;
    }
    .p1-item button.color, .p2-item button.color,
     .p3 button.color, .p4 button.color {
        width: 80vw;
        height: 25vh;
        font-size: 2vh;
        font-size: 1.8em;
    }
    .p2-item img{
        width: 20vw;
    }
    .p2-item h3{
        font-size:2.3em 
     }
     #accordion{
        width:100%;
       display: unset;
        margin: 0 ;
        padding: 50px 0;
    }
     .p2-item p{
         font-size:1.8em ;
         text-align: center;
         margin: 20px;
         font-weight: 400;
      }
      .p4 .btn{
        background-color: #f8f9fb;
        color: #3fb4e9;
        font-weight:600;
        font-size .5em;
        align-items:flex-start ;
    }
    .collapse{
        background-color: #f3f3f3;
        color: #2b2b2b;
        font-weight:400;
        font-size 0.5em;
        align-items:flex-start ;
    }

      .whatsapp a img{
        position: fixed;
        top: 80vh;
        right: 5.5%;
        width: 12vw;
        
    }
    .msg textarea{
        height: 80px;
        width: 100%;
    }

}